@charset "UTF-8";
//Created by LinChuQiang.
@import "../sassCore/function";


/*登录按钮*/
$fontFilePath: '../fonts/fontAwesome/fontawesome-webfont';
$fontClassoutput: sign-in user check sign-out;
/*传入参数，引入即可*/
@import "../sassCore/ext/font-face/font-face";

#login {
	height: 40px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 40px;
	a {
		color: #555;
		font-size: 14px;
		margin: 0 5px;
		span {
			margin-right: 5px;
		}
		&:link, &:hover {
			color: nth($infoColor, 3);
			cursor: pointer;
		}
		&:visited, &:active {
			background-color: #6787C5;
		}
	}
}

/*注册登录框*/
#logDiv, #regDiv {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	margin: 0;
}

/*注册登录验证*/
#logWarn, #regWarn {
	height: 34px;
	line-height: 34px;
	margin: 0;
	display: inline-block;
}

.popover {
	white-space: nowrap;
}

.invalid {
	border: 2px solid rgba(250, 8, 8, 0.2) !important;
	background: url("src/img/invalid.png") no-repeat right !important;
	padding-right: 3px !important;
}

.valid {
	border: 2px solid rgba(45, 200, 40, 0.39) !important;
	background: url("src/img/valid.png") no-repeat right !important;
	padding-right: 3px !important;
}