@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icon/iconfont.eot");
  src: url("../fonts/icon/iconfont.eot?#iefix") format("eot"), url("../fonts/icon/iconfont.svg#iconfont") format("svg"), url("../fonts/icon/iconfont.woff") format("woff"), url("../fonts/icon/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ucaret:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-dcaret:before {
  content: "\e603";
}

.icon-rcaret:before {
  content: "\e604";
}

.icon-lcaret:before {
  content: "\e605";
}

.icon-darrow:before {
  content: "\e606";
}

.icon-uarrow:before {
  content: "\e607";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-darrow-small:before {
  content: "\e60b";
}

.icon-larrow:before {
  content: "\e608";
}

.icon-collapse:before {
  content: "\e60a";
}

.icon-rarrow:before {
  content: "\e609";
}

.icheckbox,
.iradio {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.iradio {
  background: url("../img/form.png") -1px 0px no-repeat;
}

.iradio.hover {
  background: url("../img/form.png") -1px 0px no-repeat;
}

.iradio.checked {
  background: url("../img/form.png") -17px 0px no-repeat;
}

.iradio.disabled {
  background: url("../img/form.png") -1px 0px no-repeat;
  cursor: not-allowed;
}

.iradio.checked.disabled {
  background: url("../img/form.png") -17px 0px no-repeat;
}

.icheckbox {
  background: url("../img/form.png") -33px 0px no-repeat;
}

.icheckbox.hover {
  background: url("../img/form.png") -33px 0px no-repeat;
}

.icheckbox.checked {
  background: url("../img/form.png") -49px 0px no-repeat;
}

.icheckbox.disabled {
  background: url("../img/form.png") -33px 0px no-repeat;
  cursor: not-allowed;
}

.icheckbox.checkbox.disabled {
  background: url("../img/form.png") -17px 0px no-repeat;
}

#bugfix > li > label > div {
  width: 16px;
}

form[name='search-form'] {
  z-index: 2;
  margin-top: 20px;
}

/*搜索框布局*/
.groupbox {
  position: relative;
  vertical-align: middle;
}
.groupbox > .grp-item {
  position: relative;
  float: left;
}
.groupbox > .grp-item.active {
  z-index: 2;
}
.groupbox > .grp-item:first-child {
  margin-left: 0;
}
.groupbox > .grp-item:first-child:not(:last-child) {
  border-radius: 0;
}

.searchbox {
  width: 700px;
  height: 40px;
  margin: 0 auto 25px auto;
  /*搜索部件——供稿方、搜索输入、确定搜索*/
  /*点击下拉*/
  /*供稿方下拉框*/
  /*面板标题和多选格式*/
  /*下拉菜单*/
  /*确定按钮组*/
  /*搜索输入&高级筛选*/
  /*高级筛选*/
  /*搜索按钮*/
}
.searchbox > .grp-item {
  height: 40px;
  line-height: 38px;
  /*供稿方*/
  /*搜索输入&高级筛选*/
}
.searchbox > .grp-item:first-child {
  width: 140px;
  border: 1px solid #d3d3d3;
}
.searchbox > .grp-item:nth-child(2) {
  width: 460px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.searchbox .grp-item + .grp-item {
  margin-left: 0;
}
.searchbox .searchDrpdon-toggle {
  height: 100%;
}
.searchbox .dropdown-brand {
  /*打开下拉框*/
  /*边框变粗*/
  /*供稿方下拉内容*/
}
.searchbox .dropdown-brand > .searchDrpdon-toggle {
  background-color: #ececec;
  color: #242424;
  font-weight: bold;
}
.searchbox .dropdown-brand.searchOpen {
  border-left: 3px solid #767676;
  border-right: 3px solid #767676;
  border-bottom: none;
  border-top: none;
}
.searchbox .dropdown-brand.searchOpen > .searchDrpdon-toggle {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid transparent;
}
.searchbox .dropdown-brand > .searchDrpdon-menu {
  opacity: 1;
  width: 700px;
  border-top: none;
  border-left: 3px solid #767676;
  border-right: 3px solid #767676;
  border-bottom: 3px solid #767676;
  z-index: 20;
  left: -2.5px;
  top: 40px;
  background-color: #ececec;
  padding: 20px 38px;
  /*面板标题*/
  /*面板内容*/
}
.searchbox .dropdown-brand > .searchDrpdon-menu li {
  float: left;
  line-height: 30px;
  min-width: 60px;
  padding-right: 30px;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab {
  /*下拉符号*/
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab a {
  color: #333333;
  display: inline-block;
  height: auto;
  position: relative;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab a:active {
  color: #000;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab .active a:after, .searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab .active a:before {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab .active a:after {
  top: 26px;
  border-bottom-color: #ececec;
  border-width: 8px;
  margin-left: -8px;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .brand-tab .active a:before {
  top: 20px;
  border-bottom-color: #777;
  border-width: 11px;
  margin-left: -11px;
}
.searchbox .dropdown-brand > .searchDrpdon-menu .tab-pane {
  padding: 10px 20px 0;
  margin-top: 10px;
  border-top: 2px solid #777;
}
.searchbox .brand-tab, .searchbox #search-brand-selected {
  font-weight: bold;
  color: #337ab7;
}
.searchbox #search-brand-selected {
  margin-top: 20px;
  border-top: 2px solid #777;
  padding: 10px 20px 0;
}
.searchbox .searchDrpdon-menu {
  margin-top: 0;
}
.searchbox .filter-btn-group {
  margin-top: 20px;
  float: right;
}
.searchbox .filter-btn-group .btn-clear {
  padding: 0 10px;
  width: auto;
  line-height: 32px;
  height: 34px;
  border-radius: 0;
  color: #1f91f1;
  background-color: transparent;
  border-color: transparent;
}
.searchbox .filter-btn-group .btn-clear:active, .searchbox .filter-btn-group .btn-clear .active {
  color: #0d77d0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.searchbox .filter-btn-group .btn-sure {
  width: 80px;
  line-height: 32px;
  height: 34px;
  border-radius: 0;
  color: #fff;
  background-color: #1f91f1;
  border-color: transparent;
}
.searchbox .filter-btn-group .btn-sure:active, .searchbox .filter-btn-group .btn-sure .active {
  color: #fff;
  background-color: #0d77d0;
  border-color: transparent;
}
.searchbox .input-block > input, .searchbox .input-block > .dropdown-filter {
  float: left;
  height: 100%;
}
.searchbox .input-block > input {
  border: none;
  width: 338px;
  padding: 0 10px;
}
.searchbox .input-block > input:focus {
  outline: -webkit-focus-ring-color inset 3px;
}
.searchbox .input-block > .dropdown-filter {
  width: 122px;
}
.searchbox .dropdown-filter {
  background-color: #fff;
  /*粗边框*/
  /*下拉菜单*/
}
.searchbox .dropdown-filter a {
  color: #333;
}
.searchbox .dropdown-filter > .searchDrpdon-toggle {
  color: #333;
}
.searchbox .dropdown-filter.searchOpen {
  border-left: 3px solid #767676;
  border-right: 3px solid #767676;
  top: -1px;
  height: 40px;
}
.searchbox .dropdown-filter.searchOpen > .searchDrpdon-toggle {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid transparent;
}
.searchbox .dropdown-filter > .searchDrpdon-menu {
  width: 462px;
  height: 414px;
  border-top: none;
  border-left: 3px solid #767676;
  border-right: 3px solid #767676;
  border-bottom: 3px solid #767676;
  z-index: 1024;
  top: 40px;
  left: -342.5px;
  padding: 10px 40px;
  /*日期选择*/
  /*分列*/
}
.searchbox .dropdown-filter > .searchDrpdon-menu .search-date {
  width: 185px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  /*.icon {
  	background: url($sprite_img) -65px 0px no-repeat;
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	top: 50%;
  	margin-top: -12px;
  	right: 8px;
  }*/
  /*input[type="text"] {
  	display: block;
  	width: 100%;
  	padding-right: 42px;
  	height: 34px;
  	line-height: 32px;
  }*/
}
.searchbox .dropdown-filter > .searchDrpdon-menu .btn-clear {
  padding-right: 0;
}
.searchbox .dropdown-filter > .searchDrpdon-menu .col {
  float: left;
  width: 39.2%;
}
.searchbox .dropdown-filter > .searchDrpdon-menu .col + .col {
  margin-left: 20px;
  width: 50%;
}
.searchbox .dropdown-filter > .searchDrpdon-menu h3 {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 2px solid #333;
}
.searchbox .dropdown-filter > .searchDrpdon-menu .filter-items {
  line-height: 26px;
  margin-top: 8px;
  font-size: 12px;
}
.searchbox .dropdown-filter > .searchDrpdon-menu .filter-item-level1:not(.col:last-child .filter-item-level1) {
  color: #333333;
  font-weight: bold;
}
.searchbox .dropdown-filter > .searchDrpdon-menu .filter-item-level2 {
  padding-left: 34px;
}
.searchbox .btn-search {
  font-size: 16px;
  border: 1px solid #1687e1;
  width: 100px;
  line-height: 38px;
  height: 40px;
  border-radius: 0;
  color: #fff;
  background-color: #1c8df0;
  border-color: transparent;
}
.searchbox .btn-search:active, .searchbox .btn-search.active {
  color: #fff;
  background-color: #0d73cc;
  border-color: transparent;
}

/*btn1按钮样式*/
.btn1 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  padding: 0;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}
.btn1:focus {
  outline: 0;
}
.btn1:active, .btn1.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn1.disabled,
.btn1[disabled],
fieldset[disabled] .btn1 {
  cursor: not-allowed;
  box-shadow: none;
}

.searchCaret {
  font-size: 10px;
  display: inline-block;
  margin-left: 4px;
  margin-top: -1px;
}
.searchDrpdon.searchFade .searchCaret {
  transition: transform 0.3s;
}
.searchDrpdon.searchFade.searchIn .searchCaret {
  transform: rotate(180deg);
}

.searchDrpdon {
  position: relative;
  overflow: hidden;
}
.searchDrpdon.searchOpen {
  overflow: visible;
}

.searchDrpdon-toggle {
  display: block;
  text-align: center;
}
.searchDrpdon-toggle:focus {
  outline: 0;
}

.searchDrpdon-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-height: 100px;
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #E6E6E6;
  background-color: #fff;
}
.searchDrpdon-menu label {
  margin: 0;
}
.searchDrpdon-menu.searchFade {
  transition: transform 0.3s, opacity 0.3s;
  transform: scale(0.95, 0.95);
  transform-origin: 0 0;
  opacity: 0.5;
}
.searchDrpdon-menu.searchFade.searchIn {
  transform: scale(1, 1);
  opacity: 1;
}

/*面板显示*/
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane.searchFade {
  transition: opacity 0.1s;
  opacity: 0.3;
}
.tab-pane.searchFade.searchIn {
  opacity: 1;
}

/*筛选面板内容*/
.goods-block {
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 2px;
}
.goods-block .goods-img {
  position: relative;
  display: block;
  width: 100%;
  height: 65%;
}
.goods-block .goods-img a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.goods-block .goods-img a img {
  display: block;
  width: 100%;
  background-size: contain;
}
.goods-block .goods-img .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
}
.goods-block .goods-img .goods-btn-group {
  position: absolute;
  bottom: 0;
  right: 6px;
}
.goods-block .goods-img .goods-btn-group .btn {
  float: right;
  color: #fff;
  font-size: 16px;
  width: 30px;
  line-height: 24px;
  height: 26px;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.goods-block .goods-img .goods-btn-group .btn:active, .goods-block .goods-img .goods-btn-group .btn.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.goods-block .goods-img .goods-btn-group .btn:hover {
  color: #fd9f12;
  box-shadow: none;
}
.goods-block .goods-ttl {
  position: relative;
  display: block;
  width: 100%;
  height: 35%;
  padding: 0 12px;
}
.goods-block .goods-ttl p {
  height: 28px;
  margin: 0;
  line-height: 28px;
}
.goods-block .goods-ttl p a.brand {
  float: left;
  height: 28px;
}
.goods-block .goods-ttl p a.brand img {
  position: relative;
  max-height: 20px;
  top: -1px;
}
.goods-block .goods-ttl p .time {
  float: right;
  height: 28px;
  color: #999;
}

/*# sourceMappingURL=searchbox.css.map */
