@charset "UTF-8";
//Created by LCQ on 2016/8/21.

//768-992 小屏幕 平板 .col-sm-

@media screen and (max-width: 992px) {


}
//<768 超小屏幕 手机 .col-xs-

@media only screen and (max-width: 768px) {
	/*导航栏*/
	nav {
		border-bottom: 0;
		ul {
			display: none;
			height: auto;
			z-index:1050;
		}
	}
	#logo {
		display: none;
	}
	nav a#resLogo{
		position: relative;
		display: block;
		

		width: 100%;
		background-color: #B89B7A;
		
		color:white ;
		&:link,&:hover{
			cursor: pointer;
			color:#6CC4E9;
			&::after {
				content: "";
				background: url('../img/nav-icon.png') no-repeat;
				width: 30px;
				height: 30px;
				display: inline-block;
				position: absolute;
				right: 15px;
				top: 10px;
			}

		}
		&:visited,&:active{

			&::after {
				background: url('../img/nav-icon-hover.png') no-repeat;
			}
		}
	}
	nav ul li {
		display: block;
		float: none;
		a {
			border-bottom: 1px solid #B89B7A;
		}
	}
	/*搜索栏*/

	form[name='search-form']{
		float: left;
		position: relative;
		left: 50%;
		width: 50%;
	}
	.searchDrpdon{
		display: none;
	}
	.searchbox{
		width: 100%;
		position: relative;
		margin-left: -50%;
		> .grp-item {
			/*搜索输入&高级筛选*/
			&:nth-child(2) {
				width: 70%;
			}
		}
		.btn-search{
			width: 30%;
		}
		.input-block > input{
			width: 100%;
		}
	}

}
